<div
  class="pokemon-grid"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()"
>
  <app-pokemon-grid-item
    *ngFor="let pokemon of pokemons"
    [pokemon]="pokemon"
  ></app-pokemon-grid-item>
</div>
<div class="loading-container" *ngIf="isLoading">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<!-- <p class="card-text">{{pokemon.description}}</p>
      <a [routerLink]="['/pokemon', pokemon.id]" class="btn btn-primary">View</a> -->
