.header {
  padding-left: 1.4rem;

  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-row__logo {
      display: flex;
      align-items: center;

      > .image {
        width: 30px;
        max-width: 30px;
      }

      > .title {
        font-size: 1.2rem;
        font-weight: 600;
        margin-left: 0.5rem;
      }
    }

    &--darkmode {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
