<section class="pokemon-detail" #section>
  <button mat-fab extended color="transparent" aria-label="Back to pokemon list" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon> Go back
  </button>
  <img [src]="pokemon.sprites.officialArtworkFrontDefault" alt="pokemon.name" />

  <div class="pokemon-detail__pills">
    <div class="pill" *ngFor="let type of pokemon.types">
      {{ type.name }}
    </div>
  </div>

  <div class="pokemon-detail__description">
    <p>{{ description }}</p>
  </div>

  <!-- <mat-chip-row *ngFor="let type of pokemon.types">
    {{ type.name }}
  </mat-chip-row> -->
</section>
